<div class="wrapper">
    <form class="login-form">
        <div class="login-form-content">
            <h1 class="login-header">Логін</h1>
            <input class="login login-input" type="email" placeholder="Е-пошта">
            <div class="password-area">
                <div class="password-field">
                    <input 
                        #passwordInput
                        class="login-input password"
                        type="password"
                        placeholder="Пароль"
                        (keydown)="preventShortcut($event)"
                    />
                    <app-toggle-eye />
                </div>
                <a routerLink="{{forgotPasswordUrl}}" class="password-reminder">Забули пароль?</a>
            </div>
            <div class="inputs">
                <button class="login-submit-button">Увійти</button>
                <div class="input-buttons">
                    <a routerLink="{{loginWithGoogleUrl}}" class="google-button">Увійти з Google</a>
                </div>
            </div>
        </div>
        <p class="register-link-area">
            Ще не маєте акаунта?
            <a routerLink="{{registerUrl}}" replaceUrl="true" class="register-link">Зареєструйтесь</a>
        </p>
    </form>
</div>