<div class="padding-container">
    <form class="password-reset-form" autocomplete="off">
        <div class="password-reset-form__content" >
            <app-input-field
                class="password-reset-form__email-field"
                inputFieldId="email">

                Е-пошта
            </app-input-field>
            <button
                class="password-reset-form__submit-button"
                type="submit">
            
                Отримати посилання для скидання
            </button>
        </div>
    </form>
</div>