.padding-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    cursor: pointer;
    position: relative;

    .dropdown {
        border-bottom: 1px solid transparent;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        user-select: none;

        &:hover {
            border-bottom: 1px solid #000000;
        }

        &__body {
            display: flex;
            flex-direction: column;
            gap: 5px;
            position: absolute;
            left: 50%;
            transform: translateX(-55%);
            top: 60px;
            list-style-type: none;
        }

        &__option {
            border: 1px solid #000000;
            background-color: #ffffff;
            width: 200px;
            padding: 5px 10px;
        }

        &__open-button {
            width: 15px;
            aspect-ratio: 1/1;
            display: block;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            background: url('/optimised-icons/arrow.svg') no-repeat center / contain;
            transition: transform 0.3s ease-out;

            &--opened {
                transform: rotate(180deg);
            }

            &--closed {
                transform: rotate(0deg);
            }
        }
    }
}