<div class="password-field">
    <app-input-field
        class="password-field__input-field"
        [inputFieldId]="inputFieldId"
        [inputType]="isPasswordVisible ? 'text' : 'password'"
        [value]="value"
        (keydown)="preventShortcutIfInvisible($event)"
        (input)="onInputValueChange($event)"
        (touched)="onBlur()">

        <ng-content></ng-content>
    </app-input-field>
    <app-toggle-eye
        class="password-field__toggle-eye"
        [isPasswordVisible]="isPasswordVisible"
        (toggled)="togglePasswordVisibility()">
        
    </app-toggle-eye>
</div>