.setting-button {
    width: 20px;
    aspect-ratio: 1/1;
    background: url("/optimised-icons/settings-button.svg") no-repeat center / contain;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}