.room-padding {
    width: 100%;

    .room {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5%;
        max-width: 100%;

        .room__task-creation-button {
            background-color: #000000;
            max-width: 220px;
            padding: 10px 20px;
            color: #ffffff;
            cursor: pointer;
            border-radius: 5px;
        }

        .room__content {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
            text-align: center;
            width: 100%;

            & > div:last-child {
                justify-self: end;
            }

            .room__room-section {
                display: flex;
                align-items: center;
                gap: 7px;
            }

            .room__room-settings {
                justify-content: center;
            }
        }
    }
}