<form [formGroup]="registerForm" class="registration-form" (submit)="onSubmit()">
    <h2>Реєстрація</h2>
    <div class="register-with-fields-area">
        <div class="email-or-phone-field-area">
            <input formControlName="email" class="input-field" type="text" placeholder="Е-пошта">
            <div class="errors">
                <p class="error" *ngIf="registerForm.get('email')?.hasError('required') &&
                                registerForm.get('email')?.touched">
                    Поле є обов'язковим *
                </p>
                <p class="error" *ngIf="!registerForm.get('email')?.hasError('required') &&
                                registerForm.get('email')?.hasError('email') &&
                                registerForm.get('email')?.touched">
                    Введіть коректний email *
                </p>
            </div>
        </div>
        <div class="input-area">
            <div class="input-sideeye-area">
                <input [type]="passwordIsVisible ? 'text' : 'password'" formControlName="password" class="input-field password-field" type="password" placeholder="Пароль">
                <button type="button" class="eye-button" (click)="togglePasswordVisibility()">
                    <img *ngIf="!passwordIsVisible" src="eye-icon.svg" alt="Око">   
                    <img *ngIf="passwordIsVisible" src="eye-slash-icon.svg" alt="Перекреслене око">                        
                </button>               
            </div>
            <div class="errors">
                <p class="error" *ngIf="!registerForm.get('password')?.hasError('required') &&
                                registerForm.get('password')?.hasError('minlength')">
                    Пароль повинен бути не менше 8 символів *
                </p>
                <p class="error" *ngIf="registerForm.get('password')?.hasError('required') &&
                                registerForm.get('password')?.touched">
                    Поле є обов'язковим *
                </p>
            </div>
        </div>
        <div class="input-area">
            <div class="input-sideeye-area">
                <input [type]="passwordRepetitionIsVisible ? 'text' : 'password'" formControlName="passwordRepetition" class="input-field password-field" type="password" placeholder="Повторіть пароль">
                <button type="button" class="eye-button" (click)="togglePasswordRepetitionVisibility()">
                    <img *ngIf="!passwordRepetitionIsVisible" src="eye-icon.svg" alt="Око">
                    <img *ngIf="passwordRepetitionIsVisible" src="eye-slash-icon.svg" alt="Перекреслене око">
                </button>
            </div>
            <div class="errors">
                <p class="error" *ngIf="!registerForm.get('passwordRepetition')?.hasError('required') &&
                                registerForm.get('passwordRepetition')?.hasError('passwordMismatch') &&
                                registerForm.get('passwordRepetition')?.touched">
                    Паролі не співпадають *
                </p>
                <p class="error" *ngIf="registerForm.get('passwordRepetition')?.hasError('required') &&
                                registerForm.get('passwordRepetition')?.touched">
                    Поле є обов'язковим *
                </p>
            </div>
        </div>
    </div>
    <button class="register-button" type="submit">Зареєструватися</button>
</form>