.charts {
    background: #ffffff;
    width: 3%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    border: none;
    cursor: pointer;
    box-shadow:
        20px 0 40px rgba(0, 0, 0, 0.08), 
        10px 0 20px rgba(0, 0, 0, 0.04);

    &--visible {
        width: 300px;
    }
}