<div class="padding-container">
    <nav class="navigation">
        <app-dropdown-menu
            class="navigation__dropdown-menu"
            [options]="rooms"
            (selectedOptionChange)="onRoomSelected($event)"/>
        <div class="navigation__room-code">
            <p class="navigation__room-code-title">Код кімнати: {{selectedRoom?.code}}</p>
            <app-setting-button (clickAction)="openRoomSettings()"/>
        </div>
        <div class="navigation__user-settings">
            <p class="navigation__username">{{user?.username}}</p>
            <img class="navigation__user-logotype" src="{{user?.photoUrl}}" alt="">
            <app-setting-button (clickAction)="openUserSettings()"/>
        </div>
    </nav>
    <main>
        <app-calendar />
    </main>
</div>