<div class="padding-container">
    <nav class="navigation">
        <app-dropdown-menu
            class="navigation__dropdown-menu"
            [options]="rooms"
            [selectedOption]="selectedRoom"
            (selectedOptionChange)="onRoomSelected($event)"/>
        <div class="navigation__room-code">
            <p class="navigation__room-code-title">Код кімнати: 
                <span class="navigation__code" (click)="copyCode()">
                    {{selectedRoom?.code}}
                </span>
            </p>
            <app-setting-button (clickAction)="openRoomSettings()"/>
        </div>
        <div class="navigation__user-settings">
            <img class="navigation__user-logotype" src="{{user?.photoUrl}}" alt="Аватарка">
            <p class="navigation__username">{{user?.username}}</p>
            <app-setting-button (clickAction)="openUserSettings()"/>
        </div>
    </nav>
    <main class="main">
        <app-calendar [tasks]="tasks"/>
     <!--<app-charts-menu />-->
    </main>
</div>