@font-face {
    font-family: 'Inter';
    font-display: swap;
    src: url('/uploads/inter-regular.woff2') format('woff2'),
         url('/uploads/inter-regular.woff') format('woff');
}

* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    height: 100%;
}