@import '../node_modules/modern-normalize/modern-normalize.css';

@font-face {
    font-family: 'Inter';
    font-display: swap;
    src: url('/uploads/inter-regular.woff2') format('woff2'),
         url('/uploads/inter-regular.woff') format('woff');
}

html {
    height: 100vh;
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;

    body {
        height: 100%;
    }
}