.wrapper {
    display: grid;
    grid-template-areas: 
        "title"
        "form";
    grid-template-rows: 1fr 2fr;
    justify-content: center;
    height: 100vh;
}

.title {
    grid-area: title;
    display: flex;
    flex-direction: column;
    gap: 6px;
    text-align: center;
    align-self: center;
}

.main-header {
    font-size: 24px;
}

.short-description {
    font-size: 14px;
}

.form {
    grid-area: form;
}