<div class="padding-container">
    <form 
        class="verification-code-form"
        autocomplete="off"
        [formGroup]="verifyCodeForm"
        (ngSubmit)="verifyAsync()">
        
        <div class="verification-code-form__content">

            <h1 class="verification-code-form__main-header">Підтвердження пошти</h1>
            <p class="verification-code-form__description">Введіть код підтвердження з електронної пошти</p>
            <div class="verification-code-form__input-container">
                <div class="verification-code-form__input-hints-container">
                    <app-field-hints-popover
                        [control]="getControl('code')"
                        [validators]="verificationCodeValidators"
                        [focused]="verificationCodeField?.focused ?? focusedDefault">
                    
                    </app-field-hints-popover>
                    <app-input-field
                        class="verification-code-form__input-field"
                        formControlName="code"
                        #verificationCode>
                        
                        Код підтвердження
                    </app-input-field>
                </div>
                <app-resend-code-button class="verification-code-form__resend-button"/>
            </div>
            <button
                class="verification-code-form__submit-button"
                type="submit">

                Підтвердити
            </button>
        </div>
    </form>
</div>