@use '../partials/variables' as variables;

@mixin toggle-button($background-url, $background-size: variables.$toggle-button-size) {
    // positioning
    position: absolute;
    top: calc(50% - variables.$toggle-button-size / 2);
    right: 1.2rem;

    // size
    width: variables.$toggle-button-size;
    height: variables.$toggle-button-size;

    // stylization
    border: none;
    background: 
        url($background-url)
        no-repeat
        center / $background-size;

    cursor: pointer;
}