<div>
    <div>
        <button (click)="previousWeek()">Назад</button>
        @for (week of weeks(); track $index) {
            <button
                type="button"
                (click)="selectWeek(week)">

                {{week.start.toFormat('dd MMM yyyy')}} - {{week.end.toFormat('dd MMM yyyy')}}
            </button>
        }
        <button (click)="nextWeek()">Вперед</button>
    </div>
    <div>
        @if (selectedWeek) {
            <div class="week-details">
                <ul>
                    @for (day of getDaysOfWeek(selectedWeek); track $index) {
                        <li>
                            {{ formatDay(day) }}
                            @if () {
                                
                            } @else {
                                <p>Завдань немає</p>
                            }
                            <button>Створити</button>
                        </li>
                    }
                </ul>
            </div>
        }
        
    </div>
</div>