<div class="padding-container">
    <div class="room-setting">
        <h1 class="room-setting__header">Налаштування кімнати</h1>
        <div class="room-setting_room-name">
            <p class="room-setting_room-name-title">Назва:</p>
            <app-input-field>{{room?.name}}</app-input-field>
        </div>
        <div class="room-setting_members-list">
            <p class="room-setting__members-list-title">Учасники</p>
          
            <div class="room-setting__list">
                @for (userRole of usersRolesSubject | async; track userRole.id) {
                    <div class="room-setting__main-content">
                      <div class="room-setting__member-card">
                        <img class="room-setting__member-logotype" [src]="userRole?.photoUrl" alt="Фото {{ userRole?.username }}">
                        <div class="room-setting__member-text-info">
                          <p class="room-setting__member-username">{{ userRole?.username }}</p>
                          <p class="room-setting__member-role">{{ userRole?.role }}</p>
                        </div>
                      </div>
                      <button type="button" (click)="deleteUserFromRoom(userRole)" *ngIf="userRole.id === user?.id" class="room-setting__negative_button">Вийти</button>
                      <button type="button" (click)="deleteUserFromRoom(userRole)" *ngIf="canDeleteUser(userRole?.role)" class="room-setting__negative_button">Видалити</button>
                    </div>
                }
            </div>
          </div>
          
    </div>
</div>
